/* WELCOME TO RIFF HELL */

@font-face {
    font-family: 'MasterOfReality';
    src: url('../fonts/masterofreality.otf');
}

@keyframes myAnimation {
    0% { transform: translateY(-150px); }
    33.3% { transform: translateY(150px); }
    41.6% { transform: translateY(75px); }
    50% { transform: translateY(75px) translateX(-75px) rotate(-30deg); }
    66.6% { transform: translateY(75px)  translateX(75px) rotate(30deg); }
    75% { transform: translateY(75px) translateX(0px); }
    87.5% { transform: translateY(-37.5px) rotateX(180deg); }
    100% { transform: translateY(-150px) rotateX(360deg); }
}


body {
  background-image: url("../../media/sabbath.jpg");
  background-repeat: repeat;
}

h1 {

    font-family: 'MasterOfReality';
    font-size: 50pt;
    font-weight: normal;
    color: #5E308C;
    text-shadow: 3px 3px black;
    animation-name: myAnimation;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 800px;
  flex-direction: column;
  animation: 3s infinite alternate slide-in;
}