<!--custom page for absolute garbage.-->

<html>
    <head>
        <title>RIFF HELL</title>
        <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/riff_hell.css" />
    </head>
    <body>
        <div class="container">
            <h1>WELCOME TO RIFF HELL</h1>
            <h1>WELCOME TO RIFF HELL</h1>
            <h1>WELCOME TO RIFF HELL</h1>
        </div>
        <audio controls loop auto>
            <source src="../media/sabbath_into_the_void.mp3" type="audio/ogg">
        </audio>
    </body>
</html>